---
import './../styles/global.scss';
import logo from '/assets/logo.svg';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height initial-scale=1.0"
    />
    <title>@snurroslo</title>
  </head>
  <body>
    <div class="container">
      <main class="main">
        <section class="middle">
          <div class="logo">
            <img src={logo} alt="Snurr Logo" />
          </div>
        </section>
        <footer class="footer">
          <a
            class="footer-link"
            target="_blank"
            href="https://www.instagram.com/snurroslo/">@snurroslo</a
          >
        </footer>
      </main>
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .middle {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .bottom-link {
    color: $dark-purple;
  }

  .footer {
    margin-top: auto;
    position: relative;
    text-align: center;
    top: -5rem;
    font-size: 1.2rem;
  }

  @media screen and (min-width: 34em) {
    .logo {
      height: 150px;
      width: 150px;
    }

    .footer {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 50em) {
    .logo {
      height: 200px;
      width: 200px;
    }

    .footer {
      font-size: 3rem;
    }
  }
</style>
