---
import NavBar from '../components/NavBar.astro';
import './../styles/global.scss';
import Logo from './../logos/Logo.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>@snurroslo</title>
  </head>
  <body>
    <section class="middle">
      <div>
        <Logo />
      </div>
      <NavBar />
    </section>
    <footer class="footer">
      <a
        class="footer-link"
        target="_blank"
        href="https://www.instagram.com/snurroslo/">@snurroslo</a
      >
    </footer>
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    font-size: 8rem;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .footer {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 34em) {
    .footer {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 50em) {
    .footer {
      font-size: 3rem;
    }
    .middle {
      gap: 8rem;
    }
  }
</style>
