<nav>
  <a href="#">keramikkstudio</a>
  <span class="plus">+</span>
  <a href="#">snekkerverksted</a>
  <span class="plus">+</span>
  <a href="#">coworking</a>
</nav>

<style>
  nav {
    text-align: center;
  }
  @media screen and (min-width: 34em) {
    nav {
      font-size: 2rem;ø
    }
  }
  @media screen and (min-width: 50em) {
    .logo {
      height: 200px;
      width: 200px;
    }

    .footer {
      font-size: 3rem;
    }
</style>
