---
import NavBar from '../components/NavBar.astro';
import logo from '/assets/page-logo.svg';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height initial-scale=1.0"
    />
    <title>{title}</title>
    <link rel="stylesheet" href="../styles/styles.comp.css" />
  </head>
  <body>
    <svg class="hamburger" viewBox="0 0 10 8" width="30">
      <path
        d="M1 1h8M1 4h 8M1 7h8"
        stroke="#8f2168"
        stroke-width="2"
        stroke-linecap="round"></path>
    </svg>
    <NavBar />
    <div class="container">
      <div class="wrapper">
        <section class="top">
          <div class="logo">
            <a href="/">
              <img src={logo} alt="snurrlogo" />
            </a>
          </div>
        </section>
        <main class="main">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    margin: 0 auto;
  }

  .hamburger {
    position: absolute;
    right: 0;
    padding: 1.2rem;
  }
</style>
